<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
      <a class="navbar-brand" href="#">Flask App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/articles">Articles</a>
              </li>
          </ul>
          <!-- <div class="d-flex">
            {% if session.logged_in %}
                <button class="btn btn-light ms-3"><a href="/dashboard">Dashboard</a></button>
                <button class="btn btn-light ms-3"><a href="/logout">Logout</a></button>
            {% else %}
                <button class="btn btn-light ms-3"><a href="/login">Login</a></button>
                <button class="btn btn-light ms-3"><a href="/register">Register</a></button>
            {% endif %}
          </div> -->
          <ul class="navbar-nav d-flex">
            {% if session.logged_in %}
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Register">Register</a>
            </li>
            {% endif %}
        </ul>
      </div>
  </div>
</nav>